<%= form_with url: "/users/#{@user.id}/rides", method: :post do |form| %>
  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <%= text_field_tag :date %>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Duration</label>
    <div class="control">
      <%= form.select :duration, ['15 minutes', '20 minutes', "30 minutes", "45 minutes", "60 minutes"], :include_blank => true %>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Distance</label>
    <div class="control">
      <%= text_field_tag :distance %>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label">Average Speed</label>
    <div class="control">
      <%= text_field_tag :average_speed %>
    </div>
  </div>

  <div class="actions">
<button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
