<br><br><br><br>
<div class="row">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Rides</span>
          </div>
          <%= link_to 'Add Ride', new_ride_path %>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Rider</th>
              <th>Date</th>
              <th>Duration</th>
              <th>Distance</th>
              <th>Average Speed</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>

            <tbody>
              <% @rides.each do |ride| %>
              <tr>
                <td><%= ride.user_id %></td>
                <td><%= ride.date %></td>
                <td><%= ride.duration %></td>
                <td><%= ride.distance %></td>
                <td><%= ride.average_speed %></td>
                <td>
                  <%= link_to(ride_path(ride), method: :show) do %>
                  <div class= "show-icon">
                    <span class="iconify" data-icon="wpf:view-file" data-inline="false"></span>
                  </div>
                  <% end %>
                </td>
                <td>
                  <%= link_to(edit_ride_path(ride)) do %>
                  <div class= "edit-icon">
                    <span class="iconify" data-icon="ant-design:edit-outlined" data-inline="false"></span>
                  </div>
                  <% end %>
                </td>
                <td>
                  <%= button_to ride, method: :delete, data: {:confirm => "You sure?" } do %>
                  <div class= "delete-icon">
                    <span class="iconify" data-icon="fluent:delete-dismiss-24-regular" data-inline="false"></span>
                  </div>
                  <% end %>
                </td>
                <% end %>
          </tbody>
        </table>
    </div>
  </div>
